body {
  text-align: center;
  background-color: #7fb72a;
}
.main {
  width: 90%;
  height: auto;
  margin: auto;
}
h1 {
  font-size: 4rem;
  color: #f3dddb;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #454545;
  text-align: center;
  margin-top: 0;
  text-decoration: underline;
}
h2 {
  font-size: 2rem;
  color: #ee4204;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #3b383a;
  text-align: center;
  margin-bottom: 2px;
}
footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("/images/tom1.png");
}

.a {
  background-image: url("/images/tom2.png");
}

.s {
  background-image: url("/images/tom3.png");
}

.d {
  background-image: url("/images/tom4.png");
}

.j {
  background-image: url("/images/snare.png");
}

.k {
  background-image: url("/images/kick.png");
}

.l {
  background-image: url("/images/crash.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #716f6f;
  font-size: 3rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}

/* footer section */

#footer {
  text-align: center;
  padding: 0% 15%;
}

.socialicon {
  margin: 20px 8px;
  color: rgb(216, 32, 32);
}

.socialicon:hover {
  margin: 20px 8px;
  color: rgb(12, 12, 12);
}
.copyright {
  margin-top: 0.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  color: rgb(216, 32, 32);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: overline;
}
